@import "../../cbx.styles.scss";

.modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 80px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	-webkit-tap-highlight-color: transparent;
}

.modal-close {
	display: flex;
	margin-left: auto;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 30px;
	font-size: 20px;
	color: $cbx-color-1;
}

.modal-content {
	background-image: $cbx-background-gradient-card;
    margin: 0 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: $cbx-card-shadow;
}

.modal-title-container {
	text-align: center;
	width: 100%;
	margin: 10px auto;
	font-size: 20px;
	line-height: 20px;
	color: $cbx-color-4;
}

.modal-title-container span {
	font-weight: bold;
}

.modal-image-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 10px auto;
}



.modal-image-container img {
	width: 80px;
	height: auto;
	text-align: center;
}

.beer-description {
	font-size: 16px;
	color: $cbx-color-1;
	text-align: justify;
	margin: 20px;
}

.modal .toolbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	grid-gap: 10px;
}

button.addToOrder {
	@include cbx-button;

}

button.remove {
	@include cbx-button;
	background-image: linear-gradient(to bottom, #bb2020, #ae1e1e, #a11c1c, #941a1a, #871818);
}