.topbar-container {
    display: flex;
    background-color: red;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
