@import "../../cbx.styles.scss";

.main {
	margin-top: 50px;
	padding: 10px;
	background-color: $cbx-white;
	height: auto;

	&.list {}

	&.grid {
		display: grid;
		height: auto;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: min-content;
		grid-gap: 10px;
	}
}
